/* トップページ */
.bg-img{
  position: relative;
  height: 600px;
  width: 100%;
  background-image: url(../images/top_image3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
}
/* [END]トップページ */
/* タイトル */
h2{
  text-align: center;
  padding: 40px 0;
}
/* [END]タイトル */
/* できること */
.about{
  display: flex;
  justify-content: center;
  margin:auto 0;
}
.ab_left{
  width: 30%;
  background: red;
}
.ab_left img{
  width:300px;
}
.ab_right{
  list-style: none;
  width: 70%;
  background: blue;
}
/* [END]できること */

/* 直近の投稿 */
.recent_reviews{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.card{
  margin: 30px auto;
  width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img{
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content{
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
/* カードリンク(余裕あれば実装) */
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}
/* [END]カードリンク*/

/* [END]直近の投稿 */


/* ------------------ログイン画面---------------------- */

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.container{
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 1px 2px rgb(25 25 25 / 20%);
  width: 550px;
}
.container h1{
  text-align: center;
  margin-bottom: 30px ;
}
.content .subtitle{
  font-weight: bold;
  margin-bottom:10px ;
}
.content .corner{
  margin-bottom: 30px;
}
.content .corner input,textarea,select{
  background: #eee;
  border: none;
  font-size: 16px;
  resize: none;
  width: 100%;
}
.content .corner img{
  width: 250px;
}
.content .subtitle .must{
  font-weight: normal;
  color: #fff;
  background-color: #E5117C;
  border-radius: 7px;
  font-size: 12px;
  padding: 0 10px;
  vertical-align: middle;
  margin-left: 8px;
}
.corner .sns_url{
  font-weight: normal;
  color: #777;
  font-size: 12px;
  padding-top: 10px;
}
.content .save_login{
  margin-bottom: 30px;
  text-align: center;
}
.content .go_login{
  text-align: center;
  margin-top: 30px;
}
.content .go_login a{
  text-align: center;
  text-decoration: none;
  /* margin: 20px; */
}
.content .go_login a:hover{
  color: orange;
}
.content .go_login input{
  border: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
}
.content .go_login input:hover{
background: #777;
}
.register{
  text-align: center;
  margin-top: 20px;
}
.register a{
  color: #54C6F0;
  /* text-decoration: none; */
}
.register a:hover{
  color: orange;
}

/* ------------------ログイン後HOMEページ------------------- */
.review_btn{
  display: flex;
  justify-content: center;
}
.review_btn button{
  background-color: #E5117C;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 50px;
  box-shadow: 0 2px black;
  font-size:20px ;
  cursor: pointer;
}
.review_btn button:hover{
  background-color: #ED59A4;
}