/* トップページ */
.bg-img{
  position: relative;
  height: 600px;
  width: 100%;
  background-image: url(../images/top_image3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
}

/* できること */
.wrap_about{
  margin-bottom:80px;
  background: #eee;
}
.bg_ab{
  margin: 0 30px;
}
/* サブタイトル */
.wrap_about {
  text-align: center;
  padding: 70px 0 30px 0;
  margin-bottom: 80px;
}
/* サブタイトル(英語) */
.wrap_about h2::before{
  content: "ABOUT";
  display: block;
  font-size: 2em;
  margin-bottom:20px ;
  color: #fff;
  text-stroke: 1px #000;
  -webkit-text-stroke: 1px #000;
  letter-spacing: 0.1em;
}
/* サブタイトル(下線) */
.wrap_about h2::after{
  content: "";
  position: absolute;
  bottom: -130px;
  left: 50%;
  height: 1px;
  width: 40px;
  margin-left: -20px;
  background-color: #000;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ab_subtitle{

}
.ab_subtitle p{
  font-size: 28px;
  display: inline-block;
  font-weight: bold;
}
.about .ab_text{
  list-style: none;
  width: 55%;
  /* background: rgb(194, 194, 240); */
  line-height: 1.5;
  font-size:20px ;
}
.about .ab_text span{
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(transparent 70%, #ffd871 70%);
}
.ab_image{
  width: 45%;
  /* background: red; */
}
.ab_image img{
  width:530px;
}
.about .ab_text_2nd{
  list-style: none;
  width: 55%;
  /* background: rgb(194, 194, 240); */
  line-height: 1.5;
}
.about .ab_text_2nd span{
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(transparent 70%, #ffd871 70%);
}
/* 直近の投稿(ログイン前／ログイン後共通) */
.wrap_review{
  background: #fff;
}
.bg_rev{
  margin: 0 30px;
}

/* サブタイトル(英語) */
.wrap_review h2::before{
  content: "REVIEW";
  display: block;
  font-size: 2em;
  margin-bottom:20px ;
  color: #fff;
  text-stroke: 1px #000;
  -webkit-text-stroke: 1px #000;
  letter-spacing: 0.1em;
}
/* サブタイトル(下線) */
.wrap_review h2::after{
  content: "";
  position: absolute;
  bottom: -900px;
  left: 50%;
  height: 1px;
  width: 40px;
  margin-left: -20px;
  background-color: #000;
}
.recent_reviews{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
/* カード */
.card{
  margin: 30px auto;
  width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card .card-title {
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
  color: #333;
  font-weight: bold;
}
.card .card-img{
  max-width: 300px;
  width: 90%;
  height: 300px;
  margin:0 auto;
  display: block;
}
.card .card-content{
  padding: 10px 20px;
}
.card-content .card-review{
  display: flex;
  margin-bottom: 10px;
}
.card-content .card-review .card-user-img{
  width: 40px;
  border-radius: 50px;
}
/* カード吹き出し */
.card-content .card-review .card-user-text{
  position: relative;
  display: inline-block;
  margin-left:15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 2px #555;
  box-sizing: border-box;
}
.card-content .card-review .card-user-text::before{
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}
.card-content .card-review .card-user-text::after{
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}
.card-content .card-review .card-user-text .card-text {
  color: #777;
  font-size: 12px;
  line-height: 1.5;
}
.card-content .card-user-status{
  margin-bottom:10px ;
  font-size: 12px;
}
.card-content .card-user-status .card-user-name{
  display: inline-block;
}
.card-content .card-user-status .card-user-count{
  display:inline-block;
  margin-left: 30px;
}
.card-content .card-user-sns{
  display: inline;
}
.card-content .card-user-sns a{
  text-decoration: none;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}

/* ---------HOME画面(ログイン後)----------- */

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.container{
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 1px 2px rgb(25 25 25 / 20%);
  width: 550px;
}
.container h1{
  text-align: center;
  margin-bottom: 30px ;
}
.content .subtitle{
  font-weight: bold;
  margin-bottom:10px ;
}
.content .corner{
  margin-bottom: 30px;
}
.content .corner input,textarea,select{
  background: #eee;
  border: none;
  font-size: 16px;
  resize: none;
  width: 100%;
}
.content .corner img{
  width: 250px;
}
.content .subtitle .must{
  font-weight: normal;
  color: #fff;
  background-color: #E5117C;
  border-radius: 7px;
  font-size: 12px;
  padding: 0 10px;
  vertical-align: middle;
  margin-left: 8px;
}
.corner .sns_url{
  font-weight: normal;
  color: #777;
  font-size: 12px;
  padding-top: 10px;
}
.content .save_login{
  margin-bottom: 30px;
  text-align: center;
}
.content .go_login{
  text-align: center;
  margin-top: 30px;
}
.content .go_login a{
  text-align: center;
  text-decoration: none;
  /* margin: 20px; */
}
.content .go_login a:hover{
  color: orange;
}
.content .go_login input{
  border: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
}
.content .go_login input:hover{
background: #777;
}
.register{
  text-align: center;
  margin-top: 20px;
}
.register a{
  color: #54C6F0;
}
.register a:hover{
  color: orange;
}

/* --------口コミエリア(ログイン後)------- */

.review_btn{
  margin-bottom:150px;
  display: flex;
  justify-content: center;
}
.review_btn button{
  background-color: #E5117C;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 50px;
  box-shadow: 0 2px black;
  font-size:20px ;
  cursor: pointer;
}
.review_btn button:hover{
  background-color: #ED59A4;
}
/* --------口コミエリア(ログイン後)------- */
.reviews_wrap{

}
.reviews_wrap h2{
  text-align: center;
  margin-bottom: 30px;
}