.prof_wrap{

}
.prof{
  padding: 20px;
  margin: 30px auto;
  width: 90%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px #ccc;
}
.prof h2{
  text-align: center;
  margin: 10px 0 30px;
  border-bottom: 1px solid #999;
  padding-bottom: 20px;
}
.prof-content{
  padding: 20px;
}
.prof-info{
  display: flex;
}
.prof-info .prof_info_img{

}
.prof-info .prof_info_img img{
  width: 200px;
  height: 200px;
  border-radius: 50px;
}
.prof-info .prof_info_content{
  /* width: 50%; */
  margin-left: 20px;
}
.prof-info .prof_info_content p{
  margin-bottom: 20px;
}
.prof-info .prof_info_content .myname{
  font-weight: bold;
  font-size: 25px;
}
.prof-info .prof_info_update{
  margin-left: auto;
}
.prof-info .prof_info_update button{
  color:#fff ;
  background-color: #444;
  box-shadow: 0 2px #444;
  border: none;
  padding:10px 20px;
  cursor: pointer;  
}
.prof-info .prof_info_update button:hover{
  background-color: #777;
}
.prof-info .prof_info_update .mysns{
  margin: 20px;
}
.prof-info .prof_info_update .mysns a{
  text-decoration: none;
}