.rank_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
.rank{
  margin: 30px auto;
  width: 90%;
  max-width: 1000px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px #ccc;
}

/* .rank-img{
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
} */
.rank .rank-content{
  padding: 20px;
}
.rank .rank-content h2{
  text-align: center;
  margin: 10px 0 30px;
}
/* -----------detail.php限定------------- */
.rank-info{
  display: flex;
  padding: 20px;
}
.rank-info .rank_info_img{
  width: 40%;
}
.rank-info .rank_info_img img{
  width: 100%;
}
.rank-info .rank_info_content{
  width: 60%;
}
/* -----------[END]detail.php限定------------- */

.rank-content ol{
  list-style: none;
}
.rank-content ol li:first-of-type{
  border-top: 1px solid #dadada;
}
.rank-content ol li{
  padding: 20px 0px;
  border-bottom: 1px solid #dadada;
}
.rank-content ol li a{
  text-decoration: none;
}
.rank-content ol li span{
  margin-right: 30px;
  color: #fff;
  padding: 5px 15px;
  background-color:#333 ;
  border-radius: 5px;
}
.rank-content ol li[data-rank="1"] span{
  background-color: #AF9500;
}
.rank-content ol li[data-rank="2"] span{
  background-color: #B4B4B4;
}
.rank-content ol li[data-rank="3"] span{
  background-color: #6A3805;
}
.rank-content ol li p{
  display: inline;
}
.rank-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.rank-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
/* カードリンク(余裕あれば実装) */
.rank-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
  background-color: #333333;
}
.rank-link a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}
.rank-link a:hover {
  text-decoration: solid;
  /* color: #0090aa; */
}
/* ------------------detail.php限定---------------------- */

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-left: 20px;
}

table tr{
  border-bottom: solid 1px #eee;
  border-top: solid 1px #eee;
}

table th{
  color: #9B9B9B;
  text-align: left;
  font-weight: normal;
}
table th,table td{
  padding: 15px 0;
}
.this_reviews{
  /* display: flex; */
  /* justify-content: space-around; */
  list-style: none;
}
.reviews{
  margin: 30px auto;
  width: 90%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.review_flex{
  display:flex;  
}
/* .review-left{
  width: 40%;
} */
.reviews img{
  width: 300px;
}
.review-right{
  width: 70%;
}
.review_right_bottom{
  display: flex;
  align-items: center;
}
.review_right_bottom .reviewer_img{
  padding: 20px;
}
.review_right_bottom .reviewer_img img{
  width: 100px;
}
.review_right_bottom .goodbtn{
  margin-left: auto;
  padding-right: 20px;
}
.review_right_bottom .goodbtn button{
  color:#9B9BB0 ;
  background-color: #EEEEEE;
  box-shadow: 0 2px #CCCCCC;
  border: none;
  padding:10px 20px;
  cursor: pointer;
}

/* ------------------[END]detail.php限定---------------------- */